.header {
  Text-align: center;
  font-size: 40px;
}

body {
  background-color: #F9ECAC;
}

.navbar {
  background-color: #6E260E !important;
}

.navbar a {
    text-decoration: none;
    color: #C4915E;
    font-size: 25px;
}

.navbar-left {
  float: left;
  width: 33%;
  padding-left: 25px;
}

.navbar-right {
  float: right;
  text-align: right;
  width: 40%;
  padding-right: 25px;
}

.headers {
  text-align: left;
  color: #5C4033;
  padding-left: 30px;

}

.navbar a:hover {
  color: #A16E3b;
}

button .Antietam {
  height: 50px;
  width: 90px;
  border-color: #FFD700;
  border-width: 3px;
  float: left;
  width: 33%;
  padding-left: 50px;
  font-size: 25px;
  color: #FFD700;
}
