.header {
  Text-align: center;
  font-size: 30px;
}

body {
  background-color: #F9ECAC;
}

nav {
  background-color: #5C4033;
}

.navbar a {
    text-decoration: none;
    color: #C4915E;
    font-size: 25px;
}

.navbar-left {
  float: left;
  width: 33%;
  padding-left: 25px;
}

.navbar-right {
  float: right;
  text-align: right;
  width: 40%;
  padding-right: 25px;
}

.headers {
  text-align: left
}

.navbar a:hover {
  color: #593D20
}
